{% extends "sistema/simple_base.html" %}

{% block title %} Minervapply | Login {% endblock %}

{% block content %}
<h3>login</h3>

{% if form.errors %}
<p>Usuario e/ou senha não validos. Por favor tentar de novo.</p>
<p>Se está tentando de fazer logon com perfil de professor pode ser que ainda
  não tenha sido ativo pelo seu chefe de departamento.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Seu pefil não tem acesso a esta seção. Para continuar, fazer login com
       uma conta valida.</p>
    {% else %}
    <p>Por favor, fazer login para visualizar esta pagina.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<li>{{ form.username.label_tag }}  {{ form.username }}</li>
<li>{{ form.password.label_tag }}  {{ form.password }}</li>
<li><input type="submit" value="login" /></li>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
