{% load static %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static "sistema/style/default.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "sistema/style/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />
<style>ul.style1 li
{
  padding: 1.6em 0em 0em 0em;
  margin: 0 0 0.5em 0;
  border-top: 1px solid rgba(0,0,0,.1);
}</style>
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
      <a href="{% url 'tela-inicial' %}">
			<img src="{% static "sistema/pic02.png" %}" alt="" >
			<h1>Minervapply</h1>
      </a>
			<span>Design by <a href="https://github.com/ESEGroup/Bolivia" rel="nofollow">TIME BOLIVIA</a></span>
		</div>
		<div id="menu">
			<ul>
        {% if user.is_anonymous %}
          <li class="current_page_item"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        {% if user.profile.is_professor %}
          <li class="current_page_item"><a href="{% url 'atualizar-professor' %}" title="Exibir o seu perfil">Professor: {{ user }}</a></li>
        {% endif %}
        {% if user.profile.is_aluno %}
          <li class="current_page_item"><a href="{% url 'atualizar-aluno' %}" title="Exibir o seu perfil">Aluno: {{ user }}</a></li>
        {% endif %}
        {% if user.profile.is_professor %}
				<li><a href="{% url 'adicionar-vaga' %}">Ofertar Vaga</a></li>
				<li><a href="{% url 'professor-logado' %}">Minhas Vagas</a></li>
        {% endif %}
        {% if user.profile.is_aluno%}
				<li><a href="{% url 'aluno-candidatadas' %}" title="Vagas solicitadas"> Vagas Solicitadas</a></li>
        {% endif %}
        {% if not user.is_anonymous %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="featured">
			<!-- <div class="title">
				<h2>Maecenas lectus sapien</h2>
				<span class="byline">Integer sit amet aliquet pretium</span>
			</div> -->
			<ul class="style1">
        {% block content %}
				<!-- <li>
					<p class="date"><a href="#">Jan<b>03</b></a></p>
					<h3>Sagittis diam dolor amet</h3>
					<p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
				</li> -->
        {% endblock %}
			</ul>
		</div>
  {% if messages %}
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Minervapply</h2>
      </div>
      <div class="modal-body">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

<!-- ****************************************************************************************************** -->
<!--                          Script para mostar "pop-up"(modal) messagems                                  -->
<!-- ****************************************************************************************************** -->
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>
