{% extends "sistema/base.html" %}

{% load static%}

{% block title %} Minervapply | Solicitudes Professores {% endblock %}

{% block content %}

<h1>Professores inativos do curso: {{user.profile.curso}}</h1>
<br>
{% for professor in object_list %}
  <li>
    <p>{{professor.first_name}} {{professor.last_name}}</p>
    <p>Email: {{professor.email}}</p>
    <p>Registro UFRJ: {{professor.profile.registro_ufrj}}</p>
    <p><a href="{% url 'ativar-professor' professor.pk %}" title="Ativar Professor">
      <input type="button" value="AtivarProfessor"></a></p>
  </li>
{% endfor %}
{% endblock %}
