{% extends "sistema/base.html" %}

{% load static%}

{% block title %}Minervapply | Vagas Publicadas {% endblock %}

{% block content %}

{% for vaga in object_list %}
  <li>
    <p class="date">{{vaga.data_publicacao.date}}</p>
    <h3>{{vaga.titulo }}</h3>
    <p>Tipo da vaga: {{vaga.tipo}}</p>
    <p>Local: {{vaga.local}}</p>
    <p>Professor responsável: {{vaga.professor_responsavel}}</p>
    <p>Prazo de aplicação: {{vaga.prazo_de_aplicacao}}</p>
    <p>Remuneração: R$ {{vaga.remuneracao}}</p>
    <p><a href="{% url 'atualizar-vaga' vaga.id %}" title="Editar a vaga ">
      <input type="button" value="Editar Vaga"></a></p>
    <p><a href="{% url 'mostrar-candidatos' vaga.pk %}" title="Visualize os candidatos de essa vaga">
      <input type="button" value="Visualizar Candidatos"></a></p>
  </li>
{% empty %}
    <h1>Nenhuma vaga publicada</h1>
{% endfor %}

{% endblock %}
